@model AJAX_SHOWTABLE.Models.IndexViewModel

@{
    ViewBag.Title = "ShowAllData";
}

<h2>ShowAllData</h2>
<a href='@Url.Action("Create" )?' class="btn btn-info">Create</a>

@*Jquery-ui ShowDialog*@
<div id="dialog" title="Create視窗">
    <p>Create視窗</p>
</div>
<button id="opener" class="btn btn-info">Create Dialog Open</button>


<div id="Editdialog" title="Edit視窗">
    <p>Edit視窗</p>
</div>


<table class="table table-bordered table-hover">
    <tr>
        <td>刪除</td>
        <td>修改</td>
        <td>EmpID</td>
        <td>EmpName</td>
        <td>EmpBirthday</td>
        <td>Gender</td>
        <td>BuildDate</td>
        <td>LogingDate</td>
        <td>JobTitle</td>
        <td>UnitID</td>
        <td>UnitName</td>
        <td>Seniority</td>
    </tr>



    @foreach (var item in Model.DataEmp) //C#程式碼

    {
        <tr>
            <td><a href='@Url.Action("Remove")?empid=@item.EmpID'>Remove</a></td>
            <td><a href='@Url.Action("Edit")?empid=@item.EmpID'>Edit</a></td>
            <td>@item.EmpID</td>
            <td>@item.EmpName</td>
            <td>@item.EmpBirthday.ToString("d")</td>
            <td>@item.Gender</td>
            <td>@item.BuildDate.ToString("d")</td>
            <td>@item.LogingDate.ToString("d")</td>
            <td>@item.JobTitle</td>
            <td>@item.UnitID</td>
            <td>@item.UnitName</td>
            <td>@item.Seniority</td>
        </tr>
    }
</table>

@*Jquery-ui ShowDialog*@
<script>
    $(function () {
        $("#dialog").dialog({
            autoOpen: false,
            height: 600,
            width: 650,
            open: function () {
                $("#dialog").load("@Url.Action("Create")");
                
            }
        });
        $("#opener").click(function () {
            $("#dialog").dialog("open");
            return false;
        });
    });
</script>

<script>
    $(function () {
        $("#Editdialog").dialog({
            autoOpen: false,
            height: 600,
            width: 650,
            open: function (event, ui) {
                $(this).load("@Url.Action("Edit")");
            }
        });
        $("#Editopener").click(function () {
            $("#Editdialog").dialog("open");
            return false;
        });
    });
</script>
