@model AJAX_SHOWTABLE.Models.IndexViewModel

@{
    ViewBag.Title = "ShowAllData";
}

<h2>ShowAllData</h2>
<a href='@Url.Action("Create" )?' class="btn btn-info">Create</a>
<br>

@*Jquery-ui ShowDialog*@
<div id="Createdialog" title="Create視窗">    </div>
<button id="opener" class="btn btn-info">Create Dialog Open</button>
<br>
<div id="Editdialog" title="Edit視窗">   </div>



<table class="table table-bordered table-hover">
    <tr>
        <td>刪除</td>
        <td>修改</td>
        <td>EmpID</td>
        <td>EmpName</td>
        <td>EmpBirthday</td>
        <td>Gender</td>
        <td>BuildDate</td>
        <td>LogingDate</td>
        <td>JobTitle</td>
        <td>UnitID</td>
        <td>UnitName</td>
        <td>Seniority</td>
    </tr>



    @foreach (var item in Model.DataEmp) //C#程式碼

    {
        <tr>
            <td><a href='@Url.Action("Remove")?empid=@item.EmpID'>Remove</a></td>

            @*用class 讓script可以取每一個 edit後面的連結*@
            <td><a class="Editopen" id="@item.EmpID" href='@Url.Action("Edit")?empid=@item.EmpID'>Edit</a></td>
            <td>@item.EmpID</td>
            <td>@item.EmpName</td>
            <td>@item.EmpBirthday.ToString("d")</td>
            <td>@item.Gender</td>
            <td>@item.BuildDate.ToString("d")</td>
            <td>@item.LogingDate.ToString("d")</td>
            <td>@item.JobTitle</td>
            <td>@item.UnitID</td>
            <td>@item.UnitName</td>
            <td>@item.Seniority</td>
        </tr>
    }

</table>

@*Jquery-ui ShowDialog*@
<script>
    $("#opener").on("click", function () {
        $("#Createdialog").dialog({
            autoOpen: false,
            height: 600,
            width: 650,
            buttons: {
                "ok": function () { alert("ok"); },
                "cancel": function () { $(this).dialog('close'); }
            },
            open: function () {
                $(this).load("@Url.Action("Create")");
            }

        });

        $("#Createdialog").dialog("open");

        return false;

    });
</script>

<script>
    $(".Editopen").on("click", function () {

        var url = $(this).attr("href");
        var $this = $(this);
        $("#Editdialog").dialog({
            autoOpen: false,
            height: 600,
            width: 650,
            buttons: {
                "ok": function() { alert("ok"); },
                "cancel": function () { $(".ui-dialog-titlebar-close").trigger('click');  }
                
            },
            open: function () {
                $(this).load(url); // 用 $(".Editopen").attr("href") 無法正確抓到
            },
            close: function () {                
                $(this).dialog().dialog("close");
            }
        });

        $("#Editdialog").dialog("open");
        return false;

    });

</script>
